body {
    margin:0;
    padding:0;
}



#punktacja {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#punktacja span {
    color:rgba(255,255,255,1);
    text-shadow:-2x -2px 0 rgba(0,0,0,1);
}

#punktacja span b {
    color:rgba(0,50,0,1);
    text-shadow:-2x -2px 0 rgba(0,0,0,1);
    margin-right:2rem;
    background:rgba(255,255,255,0.8);
    padding:0.2rem;
}

